.grid {
  border: 5px solid;
  margin: auto;
  border-color: black;
  border-radius: 5px;
  display: grid;
  grid-gap: 0px;
  grid-template-rows: repeat(var(--grid-rows), auto);
  grid-template-columns: repeat(var(--grid-cols), auto);
}

.title {
  text-align: center;
}
.score-card {
  margin: auto;
}
.score {
  text-align: center;
}
/* 
.grid-cell {
  background-color: rgba(255, 255, 255);
  border: solid 0.5px black;
  font-size: 30px;
  text-align: center;
} */
